# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Test scratch
tests/tmp/

# Deploy cache markers
*.deploy-cache
